html, body
{
    height: 100%;
    margin:0;
    padding:0;
}

.ui.table {
    margin-bottom: 49px;
    border: 0px;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    max-width: 100%;
}

table { white-space: nowrap; }
div svg {
    pointer-events: none;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}

.name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  /* width: calc(100vw - 225px); */

}

.iconCell{
    width: 43px;
    max-width: 43px;
}

.minCell {
  width: 91px;
  max-width: 91px;
}

svg#picDrop {
  height: 150px;
}

.svgDragover {
  fill: white;
  opacity: 1;
}
.svgNotDragged {
  fill: black;
  opacity: 0.3;
}

.droptargetDragover {
  outline-offset: -25px;
  background-color: green;
  outline: 2px dashed white;
}

.droptargetNotDragged {
  outline-offset: -20px;
  background-color: white;
  outline: 2px dashed grey;
}

#droptarget, #picDrop {
  -webkit-transition: outline-offset .15s ease-in-out, background-color .35s linear, fill .15s linear;
  transition: outline-offset .15s ease-in-out, background-color .35s linear, fill .15s linear;
}
#content, #droptarget {
  position:relative;
  height: 100%;
  width:100%;
}

footer {
  height: 60px;
}
