html, body
{
  height: 100%;
  margin:0;
  padding:0;
}

.ui.table {
  margin-bottom: 49px;
  border: 0px;
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
}
.name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  /* width: calc(100vw - 225px); */

}

.iconCell{
  width: 25px;
}

.iconButtonCell {
  width: 114px;
}

td.iconButtonCell {
  text-align: right;
}

.minCell {
  width: 91px;
}

div svg {
  pointer-events: none;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
}

svg#picDrop {
  height: 150px;
}

.svgDragover {
  fill: white;
  opacity: 1;
}
.svgNotDragged {
  fill: black;
  opacity: 0.3;
}

.droptargetDragover {
  outline-offset: -25px;
  background-color: green;
  outline: 2px dashed white;
}

.droptargetNotDragged {
  outline-offset: -20px;
  background-color: white;
  outline: 2px dashed grey;
}

#droptarget, #picDrop {
  -webkit-transition: outline-offset .15s ease-in-out, background-color .35s linear, fill .15s linear;
  transition: outline-offset .15s ease-in-out, background-color .35s linear, fill .15s linear;
}
#content, #droptarget {
  position:relative;
  height: 100%;
  width:100%;
}

.termView {
  color: #00d600;
  background-color: black;
  display: none;
}

::-webkit-scrollbar-corner {
/*
background-image: url(resources/corner.png);
background-repeat: no-repeat;
*/
background-color: black;
}
.termView pre {
    margin-left: 12px;
    margin-right: 12px;
    max-height: 200px;
    height:200px;
    overflow-y: scroll;
    overflow-x: hidden;
    white-space: pre-wrap;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

footer {
  height: 60px;
}
